pycache/*
__pycache__/*
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

data/*
data/screenshots/*

utils/baseconfig/baseconfig_1.toml
utils/baseconfig/baseconfig_2.toml
utils/baseconfig/example_attacks_by_th.toml
utils/baseconfig/static_hardcoded_config.toml

config.toml
notes.txt

input_tools/data/logs/*
input_tools/data/screenshots/*
input_tools/config.toml
input_tools/list_windows.py